# ##########################################
# Git 隱藏目錄 / 檔案 不做版控檔案清單一覽
# ##########################################

# ##########################################
# 目錄
# ##########################################
node_modules/
node_modules/*.*

# ##########################################
# 檔案
# ##########################################
# .gitignore
# .jshintrc

# ##########################################
# 特定目錄 特定目錄下的所有檔案[.sass_cache]
# such as .DS_Store (OSX), *.bak, etc.
# ##########################################
.*/

# ##########################################
# 設定檔
# ##########################################
# Gruntfile.js
# Config.rb

# ##########################################
# 指令檔
# ##########################################
*.bat
