@import 'wAlert';
#wAlert_container
{
	/*iOS Style*/
	&.ios
	{
		background: $Gray90 !important;
		.wAlert_message
		{
			@include border-radius(toRem($BaseSize/2) toRem($BaseSize/2) 0 0);
			border-bottom:1px solid $BorderColorGray70 !important;
			background: $Gray90 !important;
			> .wAlert_content
			{
				text-align:center;
				vertical-align: middle;
			}
		}
		.wAlert_buttons
		{
			@include border-radius(0 0 toRem($BaseSize/2) toRem($BaseSize/2));
			background: $Gray90 !important;
			> li
			{
				color:$MostlyPureBlue !important;
				border-color: $BorderColorGray70 !important;
				background: $Gray90 !important;
			}
		}
	}
	/*Android Style*/
	&.android
	{
		$androidTitleColor:#33B5E5;
		$androidColor: #707070;
		$androidBGColor: #DCDCDC;
		$androidinputBorderColor: #4285F4;
		@include box-shadow($androidColor 0 0 toRem($BaseSize*1.25));
		color: $androidColor;
		.wAlert_message
		{
			@include border-radius(toRem($BaseSize/4) toRem($BaseSize/4) 0 0);
			position: relative;
			border-bottom-color: $androidBGColor;
			text-align: left;
			padding:0;
			> .wAlert_title
			{
				color: $androidTitleColor;
				border-bottom:1px solid currentColor;
				padding:1em;
				margin: 0;
			}
			> .wAlert_content
			{
				padding:1em;
				margin-bottom: 1.5em;
				/*wMsg*/
				&:only-child
				{
					padding:1.5em 1em 1.8em 1em;
					margin-top: 0;
				}
			}
			> #wAlert_Prompt{
				width: 94%;
				outline: none;
				position: absolute;
				left:3%;
				right:3%;
				bottom: 0;
				border-width:0 0 1px 0;
				border-bottom-color: $androidinputBorderColor;
				margin: .5em auto;
			}
		}
		.wAlert_buttons
		{
			@include border-radius(0 0 toRem($BaseSize/4) toRem($BaseSize/4));
			color: $Black;
			>li
			{
				&:hover, &:active
				{
					background-color: $androidBGColor;
				}
				&:first-child:last-child
				{
					border-radius: 0 0 toRem($BaseSize/4) toRem($BaseSize/4);
				}
				&:first-child
				{
					border-radius: 0 0 0 toRem($BaseSize/4);
				}
				&:last-child
				{
					border-right: none;
					border-radius: 0 0 toRem($BaseSize/4) 0;
				}
			}
		}
	}
	/*Custom Style*/
	/*&.Custom
	{
		.wAlert_message
		{
			> .wAlert_content
			{
				&:only-child
				{
				}
			}
		}
		.wAlert_buttons
		{
			> li
			{
			}
		}
	}*/
}
